
.innner_div li{
    margin-left: 50px;
    list-style: none;
}

.innner_div li label{
    font-size: 20px;
}
input{
    cursor: pointer;
}
#submit, .btn{
    padding: .5rem ;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin: 0 auto;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background: #74b9ff;
    margin-top: 1rem;
    cursor: pointer;
}
#submit:hover{
    background: #0984e3;
}
#showscore{
    margin-top: 1rem;
    padding: 1rem 1rem;
}

#showscore h3{ 

    font-size: 2rem;
    text-align: center;
    margin: 0;
}
.showarea{
    display: none;
}